body {
    color: #4e4e4e;
    background: #e2e2e2;
    font-family: 'Roboto', sans-serif;
}
.form-control {
    background: #1267BC;
    font-size: 16px;
    border-color: transparent;
    box-shadow: none !important;
}
.form-control:focus {
    border-color: #1267BC;
    background: rgb(202, 219, 236);
}
.form-control, .btn {        
    border-radius: 2px;
}
.login-form {
    width: 380px;
    margin: 0 auto;
}
.login-form h2 {
    margin: 0;
    padding: 30px 0;
    font-size: 34px;
}

.login-form .avatar img {
    width: 100%;
}
.login-form form {
    color:#1267BC;
    border-radius: 4px;
    margin-top:190px; 
    background: #fff;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;		
}
.login-form .btn {
    font-size: 16px;
    line-height: 26px;
    min-width: 120px;
    font-weight: bold;
    background #1267BC;
    border: none;		
}
.login-form .btn:hover, .login-form .btn:focus{
    background:#1267BC;
    
    outline: none !important;
}
.checkbox-inline {
    margin-top: 14px;
}
.checkbox-inline input {
    margin-top: 3px;
}
.login-form a {
    color:#1267BC;
}	
.login-form a:hover {
    text-decoration: underline;
}
.hint-text {
    color:#1267BC;
    font-size: 16px;
    margin-top: 14px;
    text-align: centre;
    font-size: 16px;
    padding-bottom: 15px;
}