<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <style>
    body,
    html {
      height: 100%;
    }
  </style>
</head>

<body>
  <nav class="navbar bg-primary p-0"
    style="background: rgb(2,0,36);background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,181,50,1) 0%, rgba(0,212,255,1) 100%);">
    <a class="navbar-brand p-2" href="/home">
      <img src="{{ url_for('static', filename='images/logo.png') }}" width="150" height="80"
        class="d-inline-block align-top" alt="">
    </a>

    {% block nav_center %}
    {% endblock nav_center %}

    <div class="p-3">
      {% block nav_right %}
      {% endblock nav_right %}
      <a type="button" class="btn btn-success btn-lg m-2" href="/profile"> Profile</a>
      <a type="button" class="btn btn-danger btn-lg m-2" href="/logout">Logout</a>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

</body>

</html>