<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <script>
        window.onload = function () {
            setTimeout(dissappeardiv, 3000);
        }
        function dissappeardiv() {
            document.getElementById('flash').style.display = "None";
        }
    </script>
    <div class="login-form">
        <form action="{{url_for('auth.login')}}" method="post">
            <div class="avatar">
                <img src="../static/images/logo.png" alt="Avatar">
            </div>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert" id="flash">
                {{message}}
            </div>
            {%endfor%}
            <div class="form-group">
                <input type="email" class="form-control input-lg" name="email" placeholder="email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="password" placeholder="Password"
                    required="required">
            </div>
            <div class="form-group clearfix">
                <label class="pull-left checkbox-inline"> <a href="#">
                        <font size=4>Forgot Password</font>
                    </a> </label>
                <button type="submit" class="btn btn-primary btn-lg pull-right">Sign in</button>
            </div>
        </form>

    </div>
</body>
    
</html>