<!DOCTYPE html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/noaccess.css">    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Roboto:100,300,400,500,700,900" rel="stylesheet" />
{%extends "base_dashboard.html" %}
{%block content%}
<div class="container">
    <div class="error-wrapper">
        <div class="man-icon"></div>
        <h3 class="title">Access Denied</h3>
        <p class="info">You don't have access to this page</p>
        <a href="{{url_for('auth.home')}}">
            <button type="button" class="home-btn" href="{{url_for('auth.home')}}">HOME</button>
        </a>
    </div>
</div>
{%endblock%}
</body>