{% extends "base_dashboard.html" %}

{% block content %}
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} card mx-auto shadow p-1" style="max-width: 30rem;text-align: center; margin-top: 30px;">
  <div>
    {{ message  }}
  </div>
</div>
{% endfor %}
<div class="card mx-auto shadow p-3" style="width: 30rem;text-align: center; margin-top: 150px;">
    <img src="../static/images/logo.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Employee Onboarding</h2>
      <p class="card-text">Upload a csv file of the employees. Make sure they all are unique!</p>
      <br>
      <form action="{{url_for('employee_onboarding.onboarding')}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" class="form-control-file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </div>

{% endblock content %}