{% extends "base_dashboard.html" %}

{% block nav_center %}

<form style="width: 40rem" action="{{url_for('reimburse.custom_filter',id = id)}}" method="POST">
  <div class=" form-row p-2">
    <div class="col">
      <select name="reim_type" class="form-control" required>
        <option selected>All</option>
        <option>Fuel Reimbursement</option>
        <option>Meal Expense</option>
        <option>Mobile Reimbursement</option>
        <option>Outstation Travel Expense</option>
      </select>
    </div>
    <div class="col">
      <button type="submit" class="form-control btn btn-primary" name="submit">Submit</button>
    </div>
  </div>
</form>

{% endblock nav_center %}


{% block nav_right %}
<a type="button" class="btn btn-warning btn-lg m-2" href="{{url_for('reimburse.request_action',id = id)}}"> Actions</a>
<a type="button" class="btn btn-success btn-lg m-2" href="{{url_for('reimburse.form',id = id)}}"> Add Reimbursement</a>
{% endblock nav_right %}







{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class="alert alert-success card mx-auto shadow p-1" style="max-width: 30rem;text-align: center; margin-top: 30px;">
  <div>
    {{ message  }}
  </div>
</div>
{% endif %}
{% if category == 'error' %}
<div class="alert alert-danger card mx-auto shadow p-1" style="max-width: 50rem;text-align: center; margin-top: 30px;">
  <div>
    {{ message}}
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% if resp['message'] %}
<div class="card mx-auto shadow p-3" style="width: 50rem;margin-top: 100px;text-align: center">
  {{resp['message']}}
</div>
{% else %}
{% for response in resp %}
<div class="card mx-auto shadow p-2" style="width: 80rem; margin-top: 20px;">
  <h5 class="card-header">{{response['title']}}
    <a style="float: right" type="submit" class="btn btn-danger ml-2" href="{{url_for('reimburse.remove_request',id = id,r_id = response['r_id'])}}"> Delete</a>
    {% if response['status'] == 'pending' %}
    <button style="float: right" type="button" class="btn btn-warning" disabled>{{response['status']}}</button>
    {% elif response['status'] == 'accepted' %}
    <button style="float: right" type="button" class="btn btn-success" disabled>{{response['status']}}</button>
    {% else %}
    <button style="float: right" type="button" class="btn btn-danger" disabled>{{response['status']}}</button>
    {% endif %}
  </h5>
  <div class="row no-gutters">
    <div class="col-md-1 bg-primary">
    </div>
    <div class="col-md-11">
      <div class="card-body">
        <h5 class="card-title">Reimbursement type: {{response['reim_type']}}
        </h5>
        <h5 class="text-right">Amount: {{response['amount']}}</h5>
        <p class="card-text">{{response['comment']}}</p>
        <p class="card-text"><small class="text-muted">Uploaded on date: {{response['date'][:10]}}</small></p>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endif %}

{% endblock content %}