{% extends "base_dashboard.html" %}

{% block nav_right %}
<a type="button" class="btn btn-primary btn-lg m-2" href="{{url_for('reimburse.get_reimburse',id = id)}}"> Reimbursements</a>
{% endblock nav_right %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class="alert alert-success card mx-auto shadow p-1" style="max-width: 30rem;text-align: center; margin-top: 30px;">
  <div>
    {{ message  }}
  </div>
</div>
{% endif %}
{% if category == 'error' %}
<div class="alert alert-danger card mx-auto shadow p-1" style="max-width: 50rem;text-align: center; margin-top: 30px;">
  <div>
    {{ message}}
  </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

<div class="card mx-auto shadow p-3" style="width: 50rem;text-align: center; margin-top: 130px;">
  <div>
    <h2 class="card-header mb-5">Reimbursement form</h2>
  </div>
  <div>
    <form action="{{url_for('reimburse.process_request',id = id)}}" method="POST">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Title" name="title" required>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <label for="request_type">Reimbursement Type</label>
          <select id="request_type" name="type" class="form-control" required>
            <option selected>Fuel Reimbursement</option>
            <option>Meal Expense</option>
            <option>Mobile Reimbursement</option>
            <option>Outstation Travel Expense</option>
          </select>
        </div>
        <div class="col">
          <label>Date</label>
          <input type="date" name="date" class="form-control" required>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-6">
          <label>Amount</label>
          <input type="number" name="amount" class="form-control" placeholder="Example: Rs.800" required>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea class="form-control" name="comment" id="comments" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Request</button>
      <a type="button" class="btn btn-danger m-2" href="{{url_for('reimburse.get_reimburse',id = id)}}"> Cancel</a>
    </form>
  </div>
</div>

{% endblock content %}