{% extends "base_dashboard.html"%}

{% block content%}
<nav class="navbar p-0 bg-primary">
    <div class="p-1">

        <a type="button" class="btn btn-primary btn-md m-2" href="{{url_for('performance.recieved')}}">Received</a>
        <a type="button" class="btn btn-primary btn-md m-2" href="{{url_for('performance.given')}}">Given</a>
        <a type="button" class="btn btn-primary btn-md m-2" href="{{url_for('performance.requested_by_you')}}">Requested by
            You</a>
        <a type="button" class="btn btn-primary btn-md m-2" href="{{url_for('performance.requested_from_you')}}">Requested
            from you</a>
    </div>
    <div class="p-2">
        {% block sub_navbar%}
        {% endblock %}
    </div>
    <div class="p-3">
        <a type="button" class="btn btn-primary btn-md m-2" href="{{url_for('performance.give_feedback')}}">+Give
            Feedback</a>
        <a type="button" class="btn btn-primary btn-md m-2" href="{{url_for('performance.request_feedback')}}">+Request
            Feedback</a>
    </div>
</nav>
{% block title%}
<h3>   Feedback </h3><hr>
{% endblock title%}
{% block sub_content%}
{% endblock %}
{% endblock%}