{% extends "feedback/base_feedback.html"%}

{% block title%}
<h3> Recieved Feedback </h3>
<hr>
{% endblock title%}

{% block sub_navbar %}
<form style="width: 40rem" action="{{url_for('performance.recieved')}}" method="POST">
    <div class=" form-row p-2">
        <div class="col">
            <input class="form-control" name='eid' placeholder="Search by Employee Id">
        </div>
        <div class="col">
            <button type="submit" class="form-control btn btn-warning" style="width: 5rem" name="search">search</button>
        </div>
    </div>
</form>

{% endblock%}

{% block sub_content%}
{% if not recieved['feedback_list'] %}
<h2>No new Feedbacks!</h2>
{% else %}
{% for feedback in recieved['feedback_list']%}
<div class="card mx-auto shadow p-2" style="width: 50rem; margin-top: 20px;">
    <h5 class="card-header">Context : {{feedback['context']}} </h5>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title">Feedback Provider: {{feedback['giver']}}
                </h5>

                <p class="card-text">Feedback:<br>{{feedback['feedback']}}</p>
                <p style='float: right' class="card-text"><small class="text-muted">Recieved On:
                        {{feedback['datetime'][0:16]}}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor%}
{% endif %}
{% endblock sub_content%}