{% extends "feedback/base_feedback.html" %}

{% block sub_content %}

{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} card mx-auto shadow p-1" style="max-width: 30rem;text-align: center; margin-top: 30px;">
  <div>
    {{ message  }}
  </div>
</div>
{% endfor %}

<div class="card mx-auto shadow p-3" style="width: 25rem;text-align: left; margin-top: 130px;">
  <div>
    <h2 class="card-header mb-5">Request Feedback</h2>
  </div>
  <div>
    <form action="{{url_for('performance.request_feedback')}}" method="POST">
      <div class="form-row">
          <div class="col">
            <label>For </label>
            <br>
            <label><font color="blue"> {{response['name']}} ({{ response['id']}}) </font></label>
          </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <label>Employee Id of the Feedback Provider</label>
          <input type="text" name="requesteeId" class="form-control" required>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <label>Context</label>
          <input type="text" name="context" class="form-control" required>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Send Request</button>
      <a type="button" class="btn btn-danger m-2" href="{{url_for('performance.recieved')}}"> Cancel</a>
    </form>
  </div>
</div>

{% endblock sub_content %}