{% extends "feedback/base_feedback.html"%}
{% block title%}
<h3> Requested from you! </h3>
<hr>
{% endblock title%}
{% block sub_navbar%}
<form style="width: 40rem" action="{{url_for('performance.requested_from_you')}}" method="POST">
    <div class=" form-row p-2">
      <div class="col">
        <select name="status" class="form-control" required>
          <option>RESPONDED</option>
          <option>NOT_RESPONDED</option>
        </select>
      </div>
      <div class="col">
        <button type="submit" class="form-control btn btn-warning" style="width: 5rem" name="search">search</button>
      </div>
    </div>
  </form>
{% endblock sub_navbar%}
{% block sub_content%}
{% if not requested['request_feedback_list'] %}
<h2 style="float: center">No new Requests</h2>
{% else %}
{% for feedback in requested['request_feedback_list']%}
<div class="card mx-auto shadow p-2" style="width: 50rem; margin-top: 20px;">
    <h5 class="card-header">From: {{feedback['requester']}}
        {% if feedback['status'] == "NOT_RESPONDED"%}
        <a style="float: right" type="submit" class="btn btn-danger ml-2"
            href="{{url_for('performance.give_feedback',reciever= feedback['requester'],context = feedback['context'],rid=feedback['id'])}}">
            Respond </a>

        {% else %}
        <a style="float: right" type="submit" class="btn btn-success ml-2" href="{{url_for('performance.given')}}">Responded </a>

        {% endif %}

    </h5>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title">context: {{feedback['context']}}
                </h5>
                <p class="card-text" style="float: right"><small class="text-muted"> On: {{feedback['datetime'][0:16]}}</small></p>
            </div>
        </div>
    </div>
</div>
{% endfor%}
{% endif %}
{% endblock sub_content%}