{% extends "feedback/base_feedback.html"%}
{% block title%}
<h3> Requested by you!</h3><hr>
{% endblock title%}
{% block sub_navbar%}
<form style="width: 40rem" action="{{url_for('performance.requested_by_you')}}" method="POST">
    <div class=" form-row p-2">
      <div class="col">
        <select name="status" class="form-control" required>
          <option>RESPONDED</option>
          <option>NOT_RESPONDED</option>
        </select>
      </div>
      <div class="col">
        <button type="submit" class="form-control btn btn-warning" style="width: 5rem" name="search">search</button>
      </div>
    </div>
  </form>
{% endblock%}
{% block sub_content%}
{% if not requested['request_feedback_list'] %}
<h2 style="float: centre">No new requests!</h2>
{% else %}
{% for feedback in requested['request_feedback_list']%}
<div class="card mx-auto shadow p-2" style="width: 50rem; margin-top: 20px;">
    <h5 class="card-header">To: {{feedback['requestee']}}  
        {% if feedback['status'] == "NOT_RESPONDED"%}
            <a type="button" style="float: right" class="btn btn-danger"> status: {{feedback['status']}}</a>
        {% else %}
            <a type="button" style="float: right" class="btn btn-success" href="{{url_for('performance.recieved')}}"> status: {{feedback['status']}}</a>
        {% endif %}
    </h5>
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title">context: {{feedback['context']}}
                </h5>
                <p class="card-text" style="float: right"><small class="text-muted">Requested On: {{feedback['datetime'][0:16]}}</small></p>

            </div>
        </div>
    </div>
</div>
{% endfor%}
{% endif %}
{% endblock sub_content%}